/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/

@media (min-width: 1024px) and (max-width: 1600px) {
	
.header_btn, .shrewd_menu_ulfirst {
	margin-left: -12px;
}
.shrewd_menu > ul > li > a {
	margin: 38px 5px 38px;
}

.header_btn {
	margin-left: 20px;
}
.shrewd_menu {
	margin-left: 47px;
}
.text-center .slider_title_inner h2,
.text-left .slider_title_inner h2,
.text-right .slider_title_inner h2 {
	width: 71%;
}	
.image_area {
	background-position: center left;
}
.slick-slide img {
	width: 100%;
}
.section_title_inner h2 {
	font-size: 33px;
}	
.about_secs h2 {
    line-height: 44px;
}
.single_about {
	margin: 42px 9px 0 -15px;
}

/* DONATION AREA CSS */
.donation_area {
	margin-top: -1px;
}
.s_donate_title h2 {
	font-size: 30px;
	margin-top: 5px;
}
.s_p_item a {
	width: 83px;
}
.s_button_donate button {
	margin: 19px 0 0;
}
.skill_thumb img {
	width: auto;
}
.section_title_inner.team_sec {
	margin-top: 26px;
}
.single_wishes_thumb img,
.single_thumb_right img {
	width: 100%;
}
.single_signature_thumb img {
	width: auto;
}
.single_wishes {
	top: 82px;
}
.countdown_area {
	padding: 120px 0 150px;
}
.countdown_title {
	margin-right: 0;
	margin-top: 70px;
}
.counterdowns {
	float: right;
}
.countdown_btn a {
	padding: 40px 183px;
	top: 30px;
	margin-left: 0;
	border-radius: 10px;
}
.single_blogs_title {
	padding: 12px 17px 13px;
}
.single_blog_title h3 {
	font-size: 17px;
}
.single_blog_title p {
	width: 100%;
}
.event_meta {
	top: 199px;
}
.blog_meta {
	top: 80%;
	left: 4%;
}
.blog_data {
	top: 20px;
	left: 180px;
}
.causes_meta {
	top: 144px;
}
.blog_lr {
	top: 288px;
	left: 16px;
}
.atac .blog_meta {
	top: 142px;
}
.both .blog_meta {
	top: 142px;
}
.grid .blog_meta {
	top: 198px;
}
.blog_meta.blog_lr {
	top: 285px;
}
.widget_icon a {
	font-size: 14px;
}
.widget_icon-bg a {
	width: 46%;
	font-size: 13px;
}
.widget_icon-bg i {
	margin: 0px 12px 0px 0px;
}
.single_contact_icon i {
	display: none;
}
.event-page-title_adn h2 {
	font-size: 20px;
}
.shrewd-event-meta-left_adn span {
	font-size: 13px;
}
.title.single_blogs_title {
	padding: 28px 17px 13px;
}
/* home 2 css */
.home-2 .slick-slide img {
	width: auto;
}
.home-2 .text-left .slider_contact2,
.home-2 .text-right .slider_contact2 {
	width: 62%;
}
.home-2 .section_title_inner.team_sec {
	margin-top: -1px;
}
.home-2.team_area {
	padding: 120px 0 105px;
}
.home-2 .countdown_title_inner h2 {
	font-size: 39px;
}
.home-2 .single_testimonial_desc span {
	margin-left: 80px;
}
.home-2 .single_blog_thumb {
	margin-bottom: -199px;
}
.home-2 .single_blogs_title {
	bottom: 25px;
}
/* home 3 css	 */
.home-3 .text-center .slider_contact2,
.home-3 .text-left .slider_contact2,
.home-3 .text-right .slider_contact2 {
	width: 68%;
}
.home-3 .text-center .slider_contact2{
	margin: auto;
}
.home-3 .text-center .slider_title_inner {
	margin: 0 71px 0 auto;
}
.home-3 .text-center .slider_title_inner h2,
.home-3 .text-right .slider_title_inner h2,
.home-3 .text-left .slider_title_inner h2 {
	width: 91%;
	margin: 12px 0 31px auto;
}
.home-3 .text-left .slider_title_inner h2{
	margin-left:3px;
}
.home-3 .problem_area {
	height: 996px;
}
.home-3 .service_area {
	margin-top: -534px;	
	padding-bottom: 179px;
}

/* home-4 css */
.home-4 .single_slider {
	margin-top: 233px;
}
.home-4 .slider_title_inner h2 {
	line-height: 52px;
	font-size: 34px;
}
.home-4 .slider_title_inner h1 {
	margin-bottom: -9px;
}
.home-4 .slider_title_inner p {
	margin: -20px 0 35px;
}
.home-4 .fearure_area {
	position: inherit;
	margin-top: -97px;
	padding-bottom: 67px;
}
.home-4 .slider_title_inner {
	margin-top: -55px;
}
.home-4 .em-nivo-slider-wrapper .nivo-directionNav {
margin-top:-73px;
}
.home-4 .about_area {
	padding: 0 0 100px;
}






}
/* -------------------------------------------------
  Laptop Screen 
---------------------------------------------------*/

@media (min-width: 1170px) and (max-width: 1366px) {

}


/* -------------------------------------------------
  Old Desktop :992
---------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1169px) {
.header_btn, .shrewd_menu_ulfirst {
	margin-left: -12px;
}
.shrewd_menu > ul > li > a {
	margin: 38px 5px 38px;
}

.header_btn {
	margin-left: 20px;
}
.shrewd_menu {
	margin-left: 47px;
}

.trp_nav_area {
	float: left;
}
.menu_logo {
	margin-left: 0px;
}
.shrewd-main-menu {
	background: transparent;
}
.slider_area {
	height: 951px;
}
.single_slider {
	margin-top: 206px;
}
.text-left .slider_title_inner h2,
.text-right .slider_title_inner h2,
.text-center .slider_title_inner h2 {
	width: 71%;
}
.section_title_inner h2 {
	font-size: 33px;
}
.about_secs h2 {
	line-height: 47px;
}
.single_about {
	margin: 35px 9px 0 -15px;
}
.image_area {
	background-position: center left;
}
.skill_thumb img {
	width: auto;
}
.shrewd_skill_content h1 span {
	margin-left: 49%;
}
.section_title_inner.team_sec {
	margin-top: 26px;
}

.s_donate_title h2 {
	font-size: 30px;
}
.s_p_item a {
	width: 83px;
}
.s_button_donate button {
	margin: 19px 0 0;
}
.slick-slide img {
	width: 100%;
}
.countdown_area {
	padding: 120px 0 150px;
}
.counterdowns {
	float: right;
}
.countdown_btn a {
	padding: 40px 183px;
	top: 30px;
	margin-left: 0;
	border-radius: 10px;
}
.countdown_title {
	margin-right: 0;
	margin-top: 70px;
}
.single_blogs_title {
	padding: 12px 17px 13px;
}
.title.single_blogs_title {
	padding: 28px 17px 13px;
}
.single_blog_title h3 {
	font-size: 17px;
}
.single_blog_title p {
	width: 100%;
}
.breatcome_title {
	padding-top: 40px;
}
.event_meta {
	top: 199px;
}
.blog_meta {
	top: 80%;
	left: 6%;
}
.blog_data {
	top: 20px;
	left: 182px;
}
.causes_meta {
	top: 144px;
}

.blog_meta.blog_lr {
	top: 287px;
	left:16px;
}
.both .blog_meta {
	top: 143px;
}
.grid .blog_meta {
	top: 203px;
	left: 4%;
}
.atac .blog_meta {
	top: 144px;
}
.widget_icon a {
	font-size: 14px;
}
.widget_icon-bg a {
	width: 46%;
	font-size: 12px;
}
.widget_icon-bg i {
	margin: 0px 13px 0px 0px;
}
.single_wishes {
	top: 12px;
}
.single_wishes_thumb img,
.single_thumb_right img {
	width: 100%;
}
.single_signature_thumb img {
	width: auto;
}
.single_contact_icon i {
	font-size: 69px;
	color: #0d417b;
	transform: rotate(-50deg);
	display: none;
}
.event-page-title_adn h2 {
	font-size: 20px;
}
.shrewd-event-meta-left_adn span {
	font-size: 13px;
}
.single_contact_title {
	left: 25%;
}
/* home 2 css */
.home-2 .slick-slide img {
	width: auto;
}
.text-left .slider_contact2,
.text-right .slider_contact2 {
	width: 62%;
}
.home-2 .section_title_inner.team_sec {
	margin-top: -3px;
}
.home-2 .countdown_title_inner h2 {
	font-size: 39px;
}
.single_testimonial_desc span {
	margin-left: 79px;
}
.home-2 .single_blog_thumb {
	margin-bottom: -172px;
}
.home-2 .single_blogs_title {
	bottom: 25px;
}
.home-2.team_area {
	padding: 120px 0 105px;
}
/* home 3 css */
.home-3 .text-center .slider_contact2,
.home-3 .text-left .slider_contact2,
.home-3 .text-right .slider_contact2 {
	width: 62%;
}
.home-3 .text-center .slider_contact2{
	margin: auto;
}
.home-3 .text-center .slider_title_inner {
	margin: 0 71px 0 auto;
}
.home-3 .text-center .slider_title_inner h2,
.home-3 .text-right .slider_title_inner h2,
.home-3 .text-left .slider_title_inner h2 {
	width: 91%;
	margin: 12px 0 31px auto;
}
.home-3 .text-left .slider_title_inner h2{
	margin-left:3px;
}
.home-3 .single_slider {
	margin-top: 274px;
}
.home-3 .owl-dots {
	bottom: -27px;
}
.home-3 .problem_area {
	height: 566px;
}
.home-3.fearure_area {
	padding: 118px 0 139px;
}
.home-3 .service_area {
	margin-top: -105px;
	padding-bottom: 59px;
}
.home-3 .single_service_content h1,
.home-3 .service_btn a,
.home-3 .single_service_content p {
	color: #333;
}
.home-3 .single_team_content_wp {
	top: 54%;
}

/* home-4 css */
.home-4 .single_slider {
	margin-top: 188px;
}
.home-4 .slider_title_inner h2 {
	line-height: 52px;
	font-size: 34px;
}
.home-4 .slider_title_inner h1 {
	margin-bottom: -9px;
}
.home-4 .slider_title_inner p {
	margin: -20px 0 35px;
}
.home-4 .fearure_area {
	position: inherit;
	margin-top: -139px;
	padding-bottom: 67px;
}
.home-4 .slider_title_inner {
	margin-top: -55px;
}
.home-4 .em-nivo-slider-wrapper .nivo-directionNav {
	display: none;
}
.home-4 .about_area {
	padding: 0 0 100px;
}

/* SINGLE_DONATION CSS */
.single_donation {
	padding: 26px 0px 50px;
}
.single_donation_title {
	margin-left: 53px;
	margin-bottom: 25px;
}



}
/* -------------------------------------------------
  Tablet Screen : 768
---------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {

.slider_area {
	height: 866px;
}
.single_slider {
	margin-top: 87px;
}
.text-center .slider_title_inner h2,
.text-left .slider_title_inner h2,
.text-right .slider_title_inner h2 {
	width: 91%;
}
.about_area {
	padding: 9px 0 120px;
}
.about_thumb {
	margin-top: 45px;
}
.image_area {
	background-position: center left;
}
.image_thumb_inner img {
	width: 100%;
}

/* SINGLE DONATION CSS */
.s_donate_title h2 {
	margin-bottom: 15px;
}
.s_p_item a {
	width: 87px;
}
.s_button_donate button {
	margin: 19px 0 6px;
}
.team_area {
	padding: 17px 0 90px;
}
.team_btn {
	margin-bottom: 60px;
}
.section2_title_inner h2,
.section2_title_inner h3 {
	font-size: 33px;
}
.single_wishes {
	top: -9px;
}
.countdown_btn a {
	padding: 70px 20px 66px;
	margin-left: 23px;
	top: -23px;
}
.countdown_area {
	padding: 105px 0 96px;
}
.counterdowns {
	margin: 30px 0 30px;
}
.single_contact_icon i {
	display: none;
}
.breatcome_content {
	padding-top: 62px;
}
.event_meta {
	top: 348px;
}
.single_blogs {
	display: none;
}
.blog_meta {
	top: 88%;
	left: 4%;
}
.blog_data {
	top: 20px;
	left: 190px;
}
.blog_meta.blog_lr {
	top: 257px;
	left: 8%;
}
.grid .blog_meta {
	 top: 88%; 
}
.atac .blog_meta {
	top: 88%;
	left: 8%;
}
.both .blog_meta {
	top: 256px;
	left: 8%;
}
.mobile_menu_logo.text-center {
	padding: 0px 0;
}
.single_Instagram_image {
	float: none;
	margin-top: 4px;
}
.event-page-title_adn h2 {
	font-size: 24px;
}
.causes_meta {
	top: 410px;
}
.form_filed_inner:nth-child(2n) {
	margin-left: 0;
}
.form_filed_inner {
	width: 100%;
}
.single_contact_title {
	left: 20%;
}
.blog-left-side > div {
	margin-top: 0px;
}
.copy-right-text p,
.footer-menu ul li a {
	font-size: 13px;
}
.comment_thumb {
	float: none;
	margin-bottom: 20px;
}
.single_comment_title_text2,
.single_comment_title_text {
	margin-left: 0;
	padding-left: 0;
}
.single_comment2 {
	margin: 24px 0 23px 0px;
}
.single_comment_title span {
	margin-right: 10px;
}
.single_cbtn {
	float: right;
	margin-right: 35px;
}
.single_widget_title {
	margin-top: 39px;
}
/* home 2 css */
.home-2 .single_slider {
	padding-top: 143px;
	padding-bottom: 143px;
} 
.text-left .slider_contact2 {
	width: 82%;
}
.text-right .slider_contact2{
	width: 81%;
}

.home-2 .single_blogs_title {
	bottom: 20px;
}
.home-2 .single_blog_thumb {
	margin-bottom: -225px;
}
.single_blog_thumb img {
	height: 300px;
}
/* .team_area { */
	/* padding: 91px 0 90px; */
/* } */
.section_title_inner.team_sec p {
	margin-bottom: 43px;
}
/* home 3 css */
.home-3 .text-left .slider_contact2{
	width: 81%;	
}
.home-3 .text-center .slider_contact2{
	width: 81%;	
}
.home-3 .text-right .slider_contact2 {
	width: 80%;
}
.home-3 .problem_area {
	height: 605px;
}
.home-3 .service_area {
	margin-top: -114px;
	padding-bottom: 0px;
}
.home-3 .single_service_content h1,
.home-3 .service_btn a,
.home-3 .single_service_content p {
	color: #333;
}
.home-3 .team_area {
	margin-top: -16px;
}
.home-3 .single_team_content_wp {
	top: 59%;
}
.home-3 .countdown_area {
	padding: 34px 0 46px;
}
.home-3 .text-center .slider_title_inner h2,
.home-3 .text-right .slider_title_inner h2,
.home-3 .text-left .slider_title_inner h2 {
	width: 91%;
	margin: 12px 0 31px auto;
}
.home-3 .text-left .slider_title_inner h2{
	margin-left:3px;
}
.home-3 .single_slider {
	margin-top: 199px;
}

/* home-4 css */
.home-4 .slider_areas {
	overflow: initial;
}
.home-4 .slider_title_inner h2 {
	line-height: 52px;
	font-size: 33px;
}
.home-4 .slider_title_inner h1 {
	margin-bottom: -9px;
}
.home-4 .slider_title_inner p {
	margin: -20px 0 35px;
}
.home-4 .fearure_area {
	position: inherit;
	margin-top: -139px;
	padding-bottom: 67px;
}
.home-4 .slider_title_inner {
	margin-top: -55px;
}
.home-4 .em-nivo-slider-wrapper .nivo-directionNav {
	display: none;
}
.home-4 .about_area {
	padding: 0 0 100px;
}



}
/* -------------------------------------------------
  Small Mobile : 320
---------------------------------------------------*/

@media (max-width: 767px) {
.slider_area {
	height: 921px;
}	
.single_slider {
	margin-top: 86px;
	text-align: center;	
}
.slider_title_inner h2 {
	width: 100%;
	line-height: 45px;
	font-size: 37px;
}
.text-center .slider_title_inner h2,
.text-left .slider_title_inner h2,
.text-right .slider_title_inner h2 {
	width: 100%;
	margin: 0 0 0 auto;	
}
.text-center .zip_code,
.text-right .zip_code,
.text-left .zip_code {
    width: 100%;
}
.contact_form input {
	margin-right: 0px;
	margin-bottom: 30px;
	width: 100%;	
}
.text-right .contact_form {
	margin-right: 0px;
}
.text-center .contact_form {
	margin-left: 0px;
}
.slider_btn,
.text-center .slider_btn,
.text-right .slider_btn {
	margin-left: 0;
	margin-top: 13px;	
}
.fearure_area {
	margin-top: -163px;
	padding-bottom: 58px;
}
.about_area {
	padding: 9px 0 100px;
}
.about_secs h2 {
	line-height: 33px;
	font-size:21px;
}
.about_thumb {
	float: left;
}
.about_play_icon a i {
	font-size: 22px;
}
.image_area {
	background-position: center left;
}

.single_price_item a{
	margin-top: 20px;
	width: 123px;
	margin-right: 3px;	
}
.single_price_item input {
    margin-right: 3px;
}
input.other {
	width: 123px;
}
.s_p_item a {
	margin-top: 20px;
	width: 91px;
	margin-right: 3px;
}
input.others {
	width: 100%;
	margin: 20px 0;
}
.s_button_donate button {
	padding: 9px 107px 8px;
	margin-left: 0px;
}
.skill_area {
	padding: 100px 0 101px;
}
.skill_thumb img {
	height: 375px;
}
.shrewd_skill_content h1 span {
	margin-left: 39%;
}
.solution_area {
	padding: 100px 0 110px;
} 
.section_title_inner h2 {
	font-size: 25px;
}
.text_center .section_title_inner p {
	width: 100%;
}
.problem_area {
	padding: 99px 0 161px;
}
.section2_title_inner h2 {
	font-size: 28px;
	line-height: 32px;
}
.section2_title_inner p {
	 margin-top: 0px;
}
.service_area {
	margin-top: -76px;
	padding-bottom: 68px;
}
.team_area {
	padding: 0px 0 70px;
}
.team_btn {
	margin-bottom: 61px;
}
.single_wishes {
	padding: 98px 20px 0;
}
.single_thumb_right img {
	height: 654px;
}
.single_signature_thumb img {
	display: none;
}
.section2_title_inner h3 {
	font-size: 28px;
	margin-bottom: 25px;
}
.countdown_area {
	padding: 87px 0 365px;
	text-align:center;
}
.countdown_title {
	margin-right: 0;
}
.countdown_title_inner h2 {
	font-size: 28px;
}
span.cdowns {
	margin: 15px 6px 0;
}
.countdown_btn a {
	padding: 53px 30px 50px;
	margin-left: 0px;
	top: 218px;
	float:none;
}
.blog_area {
	padding: 82px 0 40px;
}
.single_blogs {
	display: block;
}
.single_blogs_title {
	padding: 13px 30px 20px;
	margin-bottom: 30px;
}
.single_causes_title {
	padding: 13px 30px 24px;
}
.blog_meta, .causes_meta {
	display: none;
}
.comment_area {
	padding: 57px 0 20px;
}
.blogs_contact_area {
	padding: 66px 0px 100px;
}
.comment_thumb {
	float: none;
	margin-bottom: 20px;
}
.single_comment_title_text2,
.single_comment_title_text {
	margin-left: 0;
	padding-left: 0;
}
.single_comment2 {
	margin: 24px 0 23px 0px;
}
.single_comment_title span {
	margin-right: 10px;
}
.single_cbtn {
	float: right;
	margin-right: 5px;
}
.cause {
	margin-left: 0;
	margin-right: 0;
}
.single_causes_section .donation_section_inn ul li a{
	padding: 5px 14px;
	font-size: 18px;
}
.single_causes_batton button {
	font-size: 16px;
}
.causes_area {
	padding: 100px 0;
}
.about .form.other_contact {
	margin-left: -8px;
	margin-top: 25px;
}
.causes_form_area {
	padding-top: 35px;
}
.breatcome_title {
	padding-top: 60px;
}
.single_blog_thumb.single_blogs_thumb img,
.single_wishes_thumb img {
	width: 100%;
}
.single_contact_icon i,
.event_date {
	display: none;
}
.breatcome_content h1 {
	font-size: 32px;
}
.widget_icon a {
	font-size: 14px;
}
.widget_icon-bg a {
	width: 46%;
	font-size: 13px;
}
.widget_icon-bg i {
	margin: 0px 10px 0px 0px;
}
.single_contact_title h2 {
	font-size: 30px;
}
.mobile_menu_logo.text-center {
	padding: 0px 0;
}
.single_contact_title {
	left: 16%;
}
.footer_middle {
	padding: 85px 16px 96px;
	text-align: center;
}
.event-page-title_adn h2 {
	font-size: 20px;
}
.shrewd-event-meta-left_adn span {
	font-size: 13px;
}
.form_filed_inner,
.service .section_title_inner p {
	width: 100%;
}
.paginations {
	margin: 20px 0 30px;
}
/* home 2 css */
.home-2.slider_area {
	height: 789px;
}
.home-2 .single_slider {
	padding: 98px 0 96px;
}
.home-2 .slick-slide img {
	width: 100%;
}
.home-2 .text-left .slider_contact2,
.home-2 .text-right .slider_contact2 {
	width: 100%;
}
.home-2 .text-right .contact_form {
	margin-left: 0;
}
.home-2 .section_title_inner.team_sec {
	margin-top: 98px;
}
.about_thumb img {
	width: 100%;
	height: 10%;
}
.image_thumb_inner img {
	width: 100%;
}
.single_donation_title h4 {
	font-size: 35px;
}
.shrewd_solution_icon ul li a {
	height: 48px;
	width: 48px;
	line-height: 48px;
}
.home-2 .countdown_title_inner h2 {
	font-size: 28px;
}
.testimonial_area {
	padding: 84px 0 94px;
	text-align: center;
}
.single_testimonial_thumb {
	float: none;
	margin-right: 0;
	margin-bottom: 15px;
}
.right_icon,
.owl-dots,
.single_test {
	display: none;
}
.home-2 .single_blogs_title {
	bottom: 0px;
}
.single_blog_title h3 {
	font-size:17px;
}
.home-2 .single_blog_thumb {
	margin-bottom: -142px;
}
.single_test_thumb {
	float: none;
}
.single_testimonial_desc p{
	font-size: 16px;
}
.home-2.footer_middle {
	text-align: center;
}
.single_footer {
	margin-bottom: 20px;
}
.section_title_inner.team_sec p {
	margin-bottom: 45px;
}
/* home 3 css */
.home-3.slider_area {
	height: 418px;
}
.home-3 .slider_contact2 {
	display: none;
}
.home-3.fearure_area {
	padding: 97px 0 70px;
}
.home-3 .title_feature {
	width: 100%;
}
.home-3 .problem_area {
	height: 1079px;
}
.home-3 .service_area {
	margin-top: -511px;
	padding-bottom: 63px;
}
.home-3 .team_area {
	padding: 0 0 70px;
}
.home-3 .team_sec p {
	width: 100%;
}
.home-3 .single_team_content_wp {
	top: 57%;
}
.home-3 .right_icon {
	margin-top: 20px;
}
.home-3 .footer_middle {
	text-align: center;
}
.top-right-menu {
	margin: -20px 0 10px;
}
/* home-4 css */
.home-4 .slider_areas {
	overflow: initial;
}
.home-4 .fearure_area {
	position: inherit;
	margin-top: -63px;
}
.home-4 .slider_title_inner {
	margin-top: -55px;
}
.home-4 .em-nivo-slider-wrapper .nivo-directionNav {
	display: none;
}
.home-4 .text-left .slider_title_inner h2,
.home-4 .slider_contact,
.home-4 .slider_btn,
.home-4 .slider_title_inner p,
.home-4 .text-right .slider_title_inner h2 {
	display: none;
}
.home-4 .about_area {
	padding: 0 0 100px;
}



}
/* -------------------------------------------------
  Large Mobile :480px. 
---------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
.slider_area {
	height: 876px;
}
.single_wishes {
	padding: 84px 20px 0;
}
.single_signature_thumb img {
	display: block;
}
span.cdowns {
	margin: 15px 0px 0;
	width: 109px;	
}
.shrewd_skill_content h1 span {
	margin-left: 45%;
}
.footer_middle {
	text-align: center;
}
.single_Instagram_image {
	float: none;
	margin: 6px 2px 0 0;
}
 .single_nav {
	margin-top: 46px;
}
.single_address,
.single_Instagram {
	margin-top: 40px;
} 
.single_Instagram {
    margin-bottom: 30px;
} 
 .text-center .zip_code, .text-right .zip_code, .text-left .zip_code {

}
.causes_meta {
	top: 240px;
}
.widget_icon-bg i {
	margin: 0px 40px 0px 0px;
}
.form_filed_inner:nth-child(2n+1), .contact_form_filed_inner textarea {
	margin-right: 1.20%;
}
.form_filed_inner:nth-child(2n) {
	margin-left: 0;
}
.single_contact_title {
	left: 27%;
}
.single_cbtn {
	margin-right: 76px;
}
.single_causes_section .donation_section_inn ul li a {
	padding: 10px 14px;
	font-size: 18px;
}
.single_price_item a {
	margin-top: 20px;
	width: 84px;
	margin-right: 10px;
}
.single_price_item input {
	margin-right: 10px;
}
input.other {
	width: 116px;
}
.s_p_item a {
	margin-top: 20px;
	width: 68px;
	margin-right: 3px;
}
.s_button_donate button {
	padding: 9px 187px 8px;
}
.about .form.other_contact {
	margin-left: 258px;
	margin-top: -40px;
}
.about .other_form input {
	width: 56%;
}
.contact_form input {
	margin-right: 8px;
}
.single_wishes {
	padding: 91px 20px 0;
}
.single_thumb_right img {
	height: auto;
}
/* home 2 css */
.home-2 .single_blog_thumb {
	margin-bottom: -138px;
}
.section_title_inner.team_sec p {
	margin-bottom: 45px;
}
/* home 3 css */
.top-right-menu {
	margin: 5px 0 7px;
	float: left;
}
.home-3 .single_slider {
	margin-top: 108px;
}
.home-3 .problem_area {
	height: 1026px;
}
.home-3 .service_area {
	margin-top: -540px;
	padding-bottom: 63px;
}
.home-3 .single_team_content_wp {
	top: 61%;
}
.widget_thumb img {
	width: 100%;
}

/* home-4 css */
.home-4 .slider_title_inner {
	margin-top: -18px;
}
.home-4 .fearure_area {
	margin-top: -85px;
}


}
